@use "sass:math";

/*
  Convert px to rem.
  Ref: https://css-tricks.com/snippets/sass/px-to-em-functions/
*/
@function rem($pixels, $context: $root-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return math.div($pixels, $context) * 1rem;
}

// Get breakpoint value from map.
@function bp($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}
