$base-size: 16px;

$color-black: #111827;
$color-red: #be0000;
$color-orange: #e48900;
$color-yellow: #f7ea00;
$color-green: #9ede73;

$root-font-size: $base-size;
$font-family-poppins: "Poppins", sans-serif;
