.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem 2rem;
  padding-bottom: 8rem;

  border-top: 4px solid $color-orange;

  @media screen and (min-width: bp("sm")) {
    padding-bottom: 3rem;
  }

  p {
    margin-top: 1rem;

    text-align: center;

    a {
      text-decoration: wavy underline;
      padding: 14px 0;
    }
  }
}
