header {
  border-bottom: 4px solid $color-orange;
}

.navbar {
  display: flex;

  padding: rem(12) rem(18);

  background-color: $color-white;

  &-toggle {
    position: fixed;
    bottom: 5%;
    left: 50%;

    padding: rem(10);

    border: 3px solid $color-orange;
    border-radius: 10px;

    background-color: rgba($color-white, 0.85);

    transform: translateX(-50%);
    z-index: 300;
  }

  &-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: rem(32);

    background-color: $color-white;

    font-size: rem(28);

    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 200;

    &.open {
      transform: translateX(0);
    }

    a {
      padding: rem(10);
      margin-bottom: rem(16);

      &.active,
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.active {
        font-weight: bold;
      }
    }

    a:last-child {
      margin-bottom: 0;
    }
  }

  // Responsive
  // 640px
  @media screen and (min-width: bp("sm")) {
    max-width: bp("sm") - 24px;
    margin: 0 auto;
    justify-content: space-between;

    &-toggle {
      display: none;
    }

    &-menu {
      position: initial;
      display: flex;
      flex-direction: row;

      width: auto;
      height: auto;
      padding: 0;

      font-size: rem(18);

      transform: none;
      transition: none;
      z-index: 0;

      a {
        padding: rem(12);
        margin: 0;
        margin-right: rem(16);
      }

      a:last-child {
        margin-right: 0;
      }
    }
  }

  // 768px
  @media screen and (min-width: bp("md")) {
    max-width: bp("md") - 32px;
  }

  // 920
  @media screen and (min-width: 920px) {
    max-width: 920px - 32px;
  }

  // 1024px
  @media screen and (min-width: bp("lg")) {
    max-width: bp("lg") - 48px;
  }

  // 1280px
  @media screen and (min-width: bp("xl")) {
    max-width: bp("xl") - 64px;
  }
}
