/*
  Mixing my own reset, normalize.css and Josh W Comeau CSS resets.
  Ref: https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --clr-green: #{$color-green};
  --clr-yellow: #{$color-yellow};
  --clr-red: #{$color-red};
}

html,
body {
  height: 100%;

  color: $color-black;
  font-size: $root-font-size;
  font-family: $font-family-poppins;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

a[target="_blank"] {
  cursor: ne-resize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: rem(24);
}
